<div class="grid_12 alpha page_header dark round">
  <h1>My Lookout</h1>
</div>
<h3><%= @username %></h3>
<p>
  Member since <%= @joindate.strftime("%d %B %y")%>
</p>

<p>
  <%= link_to "Edit my account", edit_user_registration_path(current_user) %>
</p>
<div class="clear"></div>

<h3>My Listings</h3>

<p>
  <%= render :partial => "listings/listings" %>
</p>
