<div class="grid_12 alpha page_header dark round">
  <h1><%= "#{@username}'s Profile on Lost Lookout" %></h1>
</div>
<p>
  Member since <%= @joindate.strftime("%d %B %y")%>
</p>

<div class="clear"></div>

<h3><%= "#{@username}'s Listings" %></h3>

<p>
  <%= render :partial => "listings/listings" %>
</p>
