<div class="grid_12 alpha page_header dark round">
  <%= page_heading "Community" %>
  <h1>Community</h1>
</div>
<div class="clear"></div>

<table>

<% @forums.each do |forum| %>
  <tr>
    <table>
      <tbody>
        <tr>
          <td>
            <h3><%= link_to forum.title, forum_path(forum) %></h3>
          </td>
        </tr>
        <tr class="description">
          <td>
            <p><%= forum.description %></p>
          </td>
        </tr>
      </tbody>
    </table>  
  </tr>
<% end %>
</table>
