<div class="grid_12 alpha page_header dark round">
  <%= page_heading "Browse lost and found" %>
  <h1>Browse lost and found</h1>
</div>
<div class="clear"></div>

<%= render :partial => "listing_categories" %>

<p>
  <%= render :partial => "listings" %>
</p>
