<div class="grid_12 alpha page_header dark round">
  <h1>Browse lost and found</h1>
</div>
<div class="clear"></div>

<%= render :partial => "listing_categories" %>

<%= render :partial => "listings" %>
