<div style="width:100%">
  <%= image_tag "http://lostlookout.com/images/circle_logo.png", :size => "64x64", :style => "float:left;vertical-align: middle;padding-right:10px", :alt => "Lost Lookout logo" %>
  <h1 style="padding:15px;font-size:200%">Lost Lookout</h1>
</div>