<div class="grid_12 alpha page_header dark round">
  <%= page_heading "Start a new topic" %>
  <h1>Start a new topic</h1>
</div>
<div class="clear"></div>

<%= render 'form' %>

<div class="grid_12">
  <%= link_to 'Back', forum_path(@forum) %>
</div>
