<p>
  Cheers,<br />
  The Lost Lookout Team
</p>

<hr />

<p style="color: #AAA; font-size: 0.8em">
  Lost Lookout lets you find things people have lost in the places where you work, walk and socialize. Keep up to date by following <a href="http://www.twitter.com/lostlookout/">@lostlookout</a> on twitter! Made in New Zealand.</p>