<% if flash.any? %>
  <div id="notices_errors" class="container_12">
    <% flash.each do |key, msg| %>
      <% if request.path != "/" %>
      <div class="top_margin <%= key %>_container">
      <% else %>
      <div class="<%= key %>_container">
      <% end %>
        <div class="grid_2">&nbsp;</div>
      	  <div class="alert grid_8">
      		  <p style="float:right;" id="close_me">
        		  <a id="<%=  %>" onClick="hideMe($(this))">
        		  [Close]
        		  </a>
        		</p>
        		<p><%= msg %></p>
      	  </div>
      	<div class="grid_2"></div>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
<% end %>